<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd" 
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"> </property>
		<property name="url" value="jdbc:mysql://localhost:3306/bilibilidata"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">
					true
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
			
				<value>com/bilibili/entity/Moiveinfos.hbm.xml</value>
				<value>com/bilibili/entity/Users.hbm.xml</value>
				<value>com/bilibili/entity/Comments.hbm.xml</value>
				<value>com/bilibili/entity/Topics.hbm.xml</value></list>
		</property></bean>
        <!-- newsinfoDao -->
        <bean id="moiveInfoDao" class="com.bilibili.dao.impl.MoivenInfoDaoImpl">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		<bean id="moiveInfoBiz" class="com.bilibili.biz.impl.MoiveInfoBizImpl">
			<property name="moiveInfoDao" ref="moiveInfoDao" />
		</bean>
		<bean id="MoiveInfoAction" class="com.bilibili.action.MoiveInfoAction">
			<property name="moiveInfoBiz" ref="moiveInfoBiz" />
		</bean>
		
		 <bean id="UserDao" class="com.bilibili.dao.impl.UserDaoImpl">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		<bean id="UserBiz" class="com.bilibili.biz.impl.UserBizImpl">
			<property name="userDao" ref="UserDao" />
		</bean>
		<bean id="UserAction" class="com.bilibili.action.UserAction">
			<property name="userBiz" ref="UserBiz" />
		</bean>
		
		
	<!-- 事务管理器 -->	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 定义事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	<tx:attributes>
	<tx:method name="get*" propagation="REQUIRED" read-only="true"/>
	<tx:method name="*" propagation="REQUIRED"/>
	</tx:attributes>
	</tx:advice>
	<!-- 定义切面 -->
	<aop:config>
	<aop:pointcut 
	expression="execution(* com.bilibili.biz.*.*(..))" id="bizMethods"/>
	<aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethods"/>
	</aop:config>
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>